@font-face {
    font-family: 'LoL';
    src: url('fonts/Friz\ Quadrata\ Regular.ttf') format('truetype');
    /* Đường dẫn tới tệp font */
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    font-family: 'LoL', sans-serif;
}

#bg {
    /* width: 100%;
    height: 100%; */
    background-image: url("images/bg.jpg");
}

#title {
    position: absolute;
    top: 5rem;
    font-size: 2rem;
    color: yellow;
    background-color: gray;
}

#footer {
    position: absolute;
    bottom: 1rem;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
}


/* Tùy chỉnh kích thước form */
.custom-form {
    margin: 0 2.5rem;
    width: 100vw;
    font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
    .custom-form {
        width: fit-content;
        font-size: 1.5rem;
    }
}